

.css-1ykiyus > div {
    padding-top: 50px;
}
<style>
.css-1uom1od {
    width: 1050px;
    padding: 60px 0px;
    margin: 0px auto;
}

.css-1ykiyus h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.5px;
}
<style>
.css-10owlr {
    padding-bottom: 48px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

.css-ixlb9s {
    letter-spacing: -0.5px;
}

.css-zo1i6f {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.css-1ddzp0m {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}

.css-lvqq7y {
    border: 0px;
    background: none;
    outline: none;
}

.css-bd9p1l {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-1w0uptv {
    display: inline-flex;
    width: 60px;
    height: 78px;
    background-image: url(상품섬네일);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.css-10nl60h {
    overflow: hidden;
    width: 720px;
    padding: 0px 20px;
    flex: 1 1 0%;
}

.css-1f86gv6 {
    display: -webkit-box;
    overflow: hidden;
    max-height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.css-1efb5i1 {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.css-1j31gob {
    width: 126px;
    text-align: right;
}

.css-jnogx7 {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 22px;
    word-break: break-all;
}

.css-6q17pt {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.css-1ddzp0m {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}

.css-shoa2s {
    padding: 10px 0px;
}

.css-1tq1t75 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}

.css-1tq1t75 > span {
    line-height: 24px;
}
<style>
.css-ln1csn {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}

.css-82a6rk {
    flex: 1 1 0%;
}

.css-t6o2y8 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
}

.css-1r0yqr6 {
    margin-top: 10px;
}

.css-i7dt79 {
    font-size: 12px;
    line-height: 21px;
    color: rgb(102, 102, 102);
}

.css-6q17pt {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.css-1ddzp0m {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}

.css-bjn8wh {
    position: relative;
}

.css-orhu8r {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: right;
    cursor: pointer;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.css-gwort8 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    background: url(https://res.kurly.com/mobile/ico/2010/ico_question_v2.svg) 100% 50% / 20px 20px no-repeat;
    vertical-align: top;
}

.css-1z0597s {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-k3lqzi {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 0px;
}

.css-1z0597s > div > span:first-of-type {
    line-height: 24px;
}
<style>
.css-ln1csn {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}

.css-82a6rk {
    flex: 1 1 0%;
}

.css-3uygi7 {
    display: inline-block;
    height: 22px;
    padding: 0px 8px;
    margin-bottom: 8px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: rgb(247, 247, 247);
    vertical-align: top;
}

.css-36j4vu {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

.css-18oykim {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 0px 0px;
}

.css-ln1csn {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}

.css-82a6rk {
    flex: 1 1 0%;
}

.css-1p5vzx4 {
    margin-bottom: 9px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 24px;
}

.css-7unc75 {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}

.css-4jyz7e {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}

.css-1soh0gv {
    margin-top: 4px;
}

.css-7unc75 {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}

.css-4jyz7e {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}

.css-iqoq9n {
    margin-top: 20px;
}

.css-117jo2j {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.css-117jo2j > span {
    font-size: 12px;
    line-height: 28px;
    font-weight: 500;
}
<style>
.css-ymwvow {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

쿠폰적립금부터 내일