<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

	<configuration>
		<typeAliases>
			<!-- 없는 클래스는 선언 하면 에러-->
	  		<!--<typeAlias type="풀패키지명.클래스명" alias="별칭(클래스명)"/>-->
	  		<typeAlias type="com.gndg.home.member.MemberDTO" alias="MemberDTO"/>
	  		<typeAlias type="com.gndg.home.member.MemberFileDTO" alias="MemberFileDTO"/>
	  		<typeAlias type="com.gndg.home.cart.CartDTO" alias="CartDTO"/>
			<typeAlias type="com.gndg.home.gnItem.GnItemDTO" alias="GnItemDTO"/>
	  		<typeAlias type="com.gndg.home.dgItem.DgItemDTO" alias="DgItemDTO"/>
	  		<typeAlias type="com.gndg.home.order.OrderDTO" alias="OrderDTO"/>
	  		<typeAlias type="com.gndg.home.order.GoodsOrderDTO" alias="GoodsOrderDTO"/>
	  		<typeAlias type="com.gndg.home.pay.PayDTO" alias="PayDTO"/>
		

			<typeAlias type="com.gndg.home.gnItem.GnItemFileDTO" alias="GnItemFileDTO"/>
			<typeAlias type="com.gndg.home.gnItem.GnItemLikeDTO" alias="GnItemLikeDTO"/>
			<typeAlias type="com.gndg.home.gnItem.GnItemReviewDTO" alias="GnItemReviewDTO"/>
	  		<typeAlias type="com.gndg.home.dgItem.DgItemDetailDTO" alias="DgItemDetailDTO"/>
	  		<typeAlias type="com.gndg.home.dgItem.DgItemFileDTO" alias="DgItemFileDTO"/>
	  		<typeAlias type="com.gndg.home.dgItem.DgItemReviewDTO" alias="DgItemReviewDTO"/>
	  		




	  		
			<typeAlias type="java.lang.String" alias="Sting"/>
			<typeAlias type="java.lang.Long" alias="Long"/>
			<typeAlias type="java.util.List" alias="List"/>
			<typeAlias type="java.util.Map" alias="Map"/>

			
			<typeAlias type="com.gndg.home.notice.NoticeDTO" alias="NoticeDTO"/>
			<typeAlias type="com.gndg.home.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
			<typeAlias type="com.gndg.home.qna.QnaDTO" alias="QnaDTO"/>
			<typeAlias type="com.gndg.home.qna.QnaFileDTO" alias="QnaFileDTO"/>
			<typeAlias type="com.gndg.home.faq.FaqDTO" alias="FaqDTO"/>
			<typeAlias type="com.gndg.home.faq.FaqFileDTO" alias="FaqFileDTO"/>
			<typeAlias type="com.gndg.home.report.ReportDTO" alias="ReportDTO"/>
			
			<typeAlias type="com.gndg.home.pay.PayDTO" alias="PayDTO"/>
			<typeAlias type="com.gndg.home.orders.OrdersDTO" alias="OrdersDTO"/>
			<typeAlias type="com.gndg.home.orders.GoodsOrdersDTO" alias="GoodsOrdersDTO"/>
			<typeAlias type="com.gndg.home.cancel.CancelDTO" alias="CancelDTO"/>
			<typeAlias type="com.gndg.home.cancel.ExchangeDTO" alias="ExchangeDTO"/>
			<typeAlias type="com.gndg.home.cancel.RefundDTO" alias="RefundDTO"/>
			

			
				
			<typeAlias type="com.gndg.home.util.Category" alias="Category"/>
			<typeAlias type="com.gndg.home.util.Pager" alias="Pager"/>	
			<typeAlias type="com.gndg.home.util.MypagePager" alias="MypagePager"/>	
			<typeAlias type="com.gndg.home.util.Pager" alias="OrderPager"/>	
			
  		</typeAliases>
	</configuration>