<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

	<configuration>
		<typeAliases>
			<!-- 없는 클래스는 선언 하면 에러-->
	  		<!--<typeAlias type="풀패키지명.클래스명" alias="별칭(클래스명)"/>-->
			<typeAlias type="java.lang.String" alias="Sting"/>	
			<typeAlias type="java.lang.Long" alias="Long"/>	
			<typeAlias type="java.util.List" alias="List"/>	
			<typeAlias type="java.util.Map" alias="Map"/>	
			
			<typeAlias type="com.gndg.home.notice.NoticeDTO" alias="NoticeDTO"/>
			<typeAlias type="com.gndg.home.qna.QnaDTO" alias="QnaDTO"/>	
			
			
			
  		</typeAliases>
	</configuration>