.css-luwwab {
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1v4whg {
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}
.css-fhxb3m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
div {
    display: block;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
.css-nk8664 {
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 14px 20px 16px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.css-nk8664.active, .css-nk8664:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
}
.css-j0lifa {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1c8nox {
    padding-top: 20px;
    position: relative;
    height: 100%;
}
.css-17gln34 {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
.css-e41glx {
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
.css-qiwgdb.css-qiwgdb.css-qiwgdb {
    padding-right: 32px;
}
.css-qiwgdb.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.css-qiwgdb {
    appearance: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
.css-wkgeho {
    width: 157px;
}
.css-wkgeho .MuiSelect-select {
    font-family: "Noto Sans";
}
.css-l9y4tx {
    align-self: center;
    padding-right: 10px;
    line-height: 1.33;
    font-size: 12px;
    color: rgb(51, 51, 51);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBzdHJva2U9IiMzMzMiPgogICAgICAgICAgPHBhdGggZD0iTTAgMEw0IDQgMCA4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIxNS4wMDAwMDAsIC02OTkuMDAwMDAwKSB0cmFuc2xhdGUoMTk1LjAwMDAwMCwgNTczLjAwMDAwMCkgdHJhbnNsYXRlKDIzMC4wMDAwMDAsIDk2LjAwMDAwMCkgdHJhbnNsYXRlKDIwLjAwMDAwMCwgMTYuMDAwMDAwKSB0cmFuc2xhdGUoNjMwLjAwMDAwMCwgMTAuMDAwMDAwKSB0cmFuc2xhdGUoMTQ0LjAwMDAwMCwgNS4wMDAwMDApIi8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) right center / 10px 10px no-repeat;
    cursor: pointer;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
.css-1fdt947 {
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: rgb(51, 51, 51);
    margin-right: 20px;
}
.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-oyz24n {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 36px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.css-1bbz142 > button span {
    font-size: 12px;
    font-weight: 500;
}
.css-1oc1pau {
    width: 60px;
    height: 78px;
    margin-right: 20px;
    background-color: rgb(245, 245, 245);
}
img, legend {
    border: 0;
    vertical-align: top;
}
canvas, img, video {
    max-width: 100%;
}
.css-asma03 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.31;
    color: rgb(51, 51, 51);
}
.css-7apail {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14px 0px 16px;
}
.css-1hbtwy0 {
    display: flex;
    padding: 8px 0px 13px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 223, 225);
}
.css-4wlxei {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 14px;
}
.css-fhxb3m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
.css-1x9bshx {
    border: 1px solid rgb(242, 242, 242);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.css-171zbec {
    width: 820px;
}
.css-1b8ght0 {
    display: none;
}
.css-1b8ght0 {
    position: absolute;
    width: 80px;
    right: 20px;
    top: 477.833px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
    transition: top 0.2s ease 0s;
    z-index: 1;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}
.css-eg1co4 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    height: 44px;
    border-color: rgb(221, 221, 221);
    border-radius: 0px;
}
.css-qiwgdb.css-qiwgdb.css-qiwgdb {
    padding-right: 32px;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}
.css-1636szt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}
.jss1 .MuiSelect-iconOutlined {
    right: 10px;
}
svg:not(:root) {
    overflow: hidden;
}
.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}
.jss1 .MuiOutlinedInput-notchedOutline {
    border-color: #ddd !important;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.css-dzjp62 {
    width: 50px;
    line-height: 1.58;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(51, 51, 51);
}
.css-1i58pf4 {
    flex: 1 1 0%;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 1.36;
}
.css-1o8e829 {
    flex: 1 1 0%;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 1.36;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
html {
    line-height: 1.15;
}
html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.css-1ccl3pq {
    display: flex;
    padding-top: 6px;
    flex-direction: row;
    color: rgb(0, 0, 0);
    line-height: 20px;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dt {
    display: block;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
.css-17gln34 {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
.css-1wkaywz {
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
.css-1sdidca {
    font-size: 14px;
    font-weight: 500;
}
.css-rnnx2x {
    font-size: 12px;
}
.css-1niy3no {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}
.css-833hqy {
    width: 200px;
}
ol, ul {
    list-style-type: none;
}
.css-5yd3pu {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}
#snb .link_inquire {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    padding: 9px 0 0 22px;
    border-radius: 0 100px 100px 0;
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 175px 25px;
    background-size: 6px 11px;
    font-size: 12px;
    color: #333;
    line-height: 20px;
}