* {
    box-sizing: border-box;
}

/* 헤더 카테고리*/
ul ul {
	display: none;
	
}
ul li:hover > ul {
    display: block;
}

ul ul ul {
	display: none;
}
ul ul li:hover > ul {
    display: block;
}

ul ul ul ul {
	display: none;
}
ul ul ul li:hover > ul {
    display: block;
}


body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}

body h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
}

.products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1100px;
    text-align: center; 
}

.products img {
    width: 250px;
    height: 250px;
    margin-left:13px;
    margin-right:10px;
    margin-bottom: 10px;
}

.products a {
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}

.price {
    margin-top: 4px;
    margin-bottom: 80px;
}

.clearfix {
    clear: both;
}