<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/resources/css/dg/category.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="hbg" class="lnb">
        <a href="#"><img class="hbg_over" src="//file.spigen.co.kr/_data/old_attach/store/main/header/navi_on.png"></a>
        <ul class="hbg_menu1" style="z-index: 999;"><br>
            <li class="hbg_submenu1 hbg_on" style="color: #6667AB;">
                <a href="#" style="color: #6667AB; font-weight: 500;">스마트폰</a>
                <!-- <div class="hbg_img" style="">
                    <a href="/shop/plan.html?plan_id=65">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0810_galaxy_z/0810_galaxy_air_skin_navi_banner.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <div class="hbg_line_1">
                    <img src="//file.spigen.co.kr/_data/old_attach/store/main/header/navi_line.png">
                </div>

                <div class="hbg_line_2" style="display: none;">
                    <img src="//file.spigen.co.kr/_data/old_attach/store/main/header/navi_line.png">
                </div>

                <div class="hbg_line_3" style="display: none;">
                    <img src="//file.spigen.co.kr/_data/old_attach/store/main/header/navi_line.png">
                </div>

                <ul class="hbg_menu2" style="z-index: 999;">
                    <li class="hbg_submenu2 hbg_on">
                        <a href="#" style="color: rgb(255, 90, 0); font-weight: 500;">아이폰</a>
                        <ul class="hbg_menu3" style="z-index: 999;">
                            <li class="hbg_submenu3 hbg_on_long">
                                <a href="#" style="color: rgb(255, 90, 0); font-weight: 500;">아이폰 14 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=021&amp;type=Y&amp;gf_ref=Yz1DNGNKc3E=" style="">아이폰 14</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=022&amp;type=Y&amp;gf_ref=Yz1GYjIyU0E=" style="color: rgb(255, 90, 0); font-weight: 500;">아이폰 14 플러스</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=023&amp;type=Y&amp;gf_ref=Yz1lQUpabzc=">아이폰 14 프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=024&amp;type=Y&amp;gf_ref=Yz1xcUpoZG4=">아이폰 14 프로맥스</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 SE3/SE2/8/7</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=005&amp;type=Y&amp;gf_ref=Yz1vbWJWdDM=">아이폰 SE3/SE2/8/7</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=010&amp;type=Y&amp;gf_ref=Yz1JOExaYkM=">아이폰 8+/7+</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 13 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=016&amp;type=Y&amp;gf_ref=Yz15bTRTQWQ=">아이폰 13 미니</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=017&amp;type=Y&amp;gf_ref=Yz1yTXRjaHo=">아이폰 13</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=018&amp;type=Y&amp;gf_ref=Yz1iMlJqcnQ=">아이폰 13 프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=019&amp;type=Y&amp;gf_ref=Yz0xMnNYOWU=">아이폰 13 프로맥스</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 12 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=013&amp;type=Y&amp;gf_ref=Yz1DRzI5RG8=">아이폰 12 미니</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=014&amp;type=Y&amp;gf_ref=Yz02WGFyVG8=">아이폰 12/12 프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=015&amp;type=Y&amp;gf_ref=Yz1qdHZGdFc=">아이폰 12 프로맥스</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 11 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1GNEpiNEs=">아이폰 11</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1UMzlWM0Q=">아이폰 11 프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1GTGxxZVA=">아이폰 11 프로맥스</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 XS/XR 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=006&amp;type=Y&amp;gf_ref=Yz1YN3JnNUQ=">아이폰 XS/X</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=007&amp;type=Y&amp;gf_ref=Yz1HYWNCTVY=">아이폰 XS Max</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=008&amp;type=Y&amp;gf_ref=Yz1QQnBhcmk=">아이폰 XR</a></li>
                                </ul>
                            </li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=001&amp;scode=011&amp;type=Y&amp;gf_ref=Yz1RMFl3QnA=">아이폰 6S/6/5S/5/SE</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 S</a>
                        <ul class="hbg_menu3" id="cbc3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3"><a href="#">갤럭시 S22 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=016&amp;gf_ref=Yz1wZmxsZjI=">갤럭시 S22</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=017&amp;gf_ref=Yz0wZ21IUUY=">갤럭시 S22+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=018&amp;gf_ref=Yz1PdFlHVTU=">갤럭시 S22 울트라</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 S21 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=013&amp;type=Y&amp;gf_ref=Yz1IT0dMbVI=">갤럭시 S21</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=014&amp;type=Y&amp;gf_ref=Yz16Q3ZxNlY=">갤럭시 S21+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=015&amp;type=Y&amp;gf_ref=Yz05NEYzU0g=">갤럭시 S21 울트라</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 S20 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1KSDZyQkM=">갤럭시 S20 FE</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1mWmRlTTE=">갤럭시 S20</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1GR3YwS1U=">갤럭시 S20+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1kZFFYTGQ=">갤럭시 S20 울트라</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 S10 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=005&amp;type=Y&amp;gf_ref=Yz1id1VWRU0=">갤럭시 S10 5G</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=006&amp;type=Y&amp;gf_ref=Yz1IRjlWeUw=">갤럭시 S10</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=007&amp;type=Y&amp;gf_ref=Yz1oNHhISUw=">갤럭시 S10+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=008&amp;type=Y&amp;gf_ref=Yz1OZXpkRGw=">갤럭시 S10e</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 S9/S8/S7 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=009&amp;type=Y&amp;gf_ref=Yz1zVlptbHQ=">갤럭시 S9/S9+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=010&amp;type=Y&amp;gf_ref=Yz1UYkloSXI=">갤럭시 S8/S8+</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=002&amp;scode=011&amp;type=Y&amp;gf_ref=Yz0zWjdpc0c=">갤럭시 S7/S7 엣지</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 노트</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3"><a href="#">갤럭시 노트 20 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=006&amp;type=Y&amp;gf_ref=Yz1FVlN1elU=">갤럭시 노트20</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=007&amp;type=Y&amp;gf_ref=Yz14ZGxIN0o=">갤럭시 노트20 울트라</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 노트 10+</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1FR3lUeTE=">갤럭시 노트10</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=003&amp;type=Y&amp;gf_ref=Yz0xMFl5ZGw=">갤럭시 노트10+</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">갤럭시 노트 9/8</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1ISFBpV1Q=">갤럭시 노트9</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=003&amp;scode=005&amp;type=Y&amp;gf_ref=Yz1NcEgwVEs=">갤럭시 노트8</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 Z 폴드</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=006&amp;type=Y">갤럭시 Z 폴드4</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1jR3B2N3Q=">갤럭시 Z 폴드3</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1QdlVVUzI=">갤럭시 Z 폴드2</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1SVjRBY2Q=">갤럭시 폴드</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 Z 플립</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=007&amp;type=Y">갤럭시 Z 플립4</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=005&amp;type=Y&amp;gf_ref=Yz14OTNNcVI=">갤럭시 Z 플립3</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=004&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1SMVF5Nno=">갤럭시 Z 플립</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 A/기타</a>
                        <ul class="hbg_menu3" style="margin-top: -105px; z-index: 999; display: none;">
                            <li class="hbg_submenu3"><a href="#">A53/A33/A13</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=024&amp;type=Y&amp;gf_ref=Yz1RSTEzV0Q=">A53</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=025&amp;type=Y&amp;gf_ref=Yz1XMzQzYjI=">A33</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=027&amp;type=Y&amp;gf_ref=Yz0wbE5vTVg=">A13</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a
                                    href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=026&amp;type=Y">퀀텀3/점프2/버디2/와이드6</a></li>
                            
                            <li class="hbg_submenu3"><a href="#">A12/A32/A42/A52s</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=006&amp;type=Y&amp;gf_ref=Yz1zY2FOaFE=">A12</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=007&amp;type=Y&amp;gf_ref=Yz1TY1FQUms=">A32</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=008&amp;type=Y&amp;gf_ref=Yz1GOGJaMkw=">A42</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=009&amp;type=Y&amp;gf_ref=Yz1PUG5vRVA=">A52s</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">퀀텀2/점프/와이드5/버디</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=010&amp;type=Y&amp;gf_ref=Yz1iVUlONkM=">퀀텀2</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=011&amp;type=Y&amp;gf_ref=Yz1ReXRSSFE=">점프</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=012&amp;type=Y&amp;gf_ref=Yz1QbFhWNVk=">와이드5 / 버디</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">A21s/A31/A51/A퀀텀</a>
                                <ul class="hbg_menu4" style="margin-top: -105px; z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=013&amp;type=Y&amp;gf_ref=Yz1oNUFHNVM=">A21s</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=014&amp;type=Y&amp;gf_ref=Yz1wbVNsRDM=">A31</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=015&amp;type=Y&amp;gf_ref=Yz1TcXFYS00=">A51</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=016&amp;type=Y&amp;gf_ref=Yz1Ca1AwNk8=">A퀀텀</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">A30/A40/A50</a>
                                <ul class="hbg_menu4" style="margin-top: -100px; z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=017&amp;type=Y&amp;gf_ref=Yz1sazBYRUU=">A30</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=018&amp;type=Y&amp;gf_ref=Yz1TNzRvMXE=">A40</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=019&amp;type=Y&amp;gf_ref=Yz13ZUprbTY=">A50</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">기타</a>
                                <ul class="hbg_menu4" style="margin-top: -140px; z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=020&amp;type=Y&amp;gf_ref=Yz1jQnJDY00=">엑스커버5(키즈폰)</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=021&amp;type=Y&amp;gf_ref=Yz0yWWM2bGI=">M12</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=022&amp;type=Y&amp;gf_ref=Yz1wakhZbFg=">와이드4</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=005&amp;scode=023&amp;type=Y&amp;gf_ref=Yz02VUprTlU=">진2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">기타</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=007&amp;scode=003&amp;type=Y&amp;gf_ref=Yz12MURjQW0=">Nothing Phone 1</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=007&amp;scode=002&amp;type=Y&amp;gf_ref=Yz16Z24zRjk=">LG</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=052&amp;mcode=007&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1QYTJXVDE=">샤오미</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=052&amp;mcode=008&amp;type=Y&amp;gf_ref=Yz04NnVXbks=">카드지갑</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1" style=""><a href="#" style="">태블릿</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopbrand.html?search&amp;prize1=아이패드 울트라하이브리드">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_02.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2"><a href="#">아이패드</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=001&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1tTWt0M2o=">아이패드 9세대/8세대/7세대</a></li>
                        </ul>
                    </li>
                    
                    <li class="hbg_submenu2"><a href="#">아이패드 에어</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=002&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1PeVdjdks=">아이패드 에어 5세대/4세대</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=002&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1WZ1JrYTA=">아이패드 에어 3세대</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">아이패드 미니</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=003&amp;scode=002&amp;type=Y&amp;gf_ref=Yz13cmVlWTU=">아이패드 미니 6세대</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=003&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1MWUdyQko=">아이패드 미니 5세대</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">아이패드 프로</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=006&amp;type=Y&amp;gf_ref=Yz12NFhCQ2Y=">아이패드 프로 5세대 12.9</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=007&amp;type=Y&amp;gf_ref=Yz1tNU5FNFo=">아이패드 프로 5세대 11</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1OQWlWaWM=">아이패드 프로 4세대 12.9</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1acEg1czk=">아이패드 프로 4세대 11</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1DbXBadzI=">아이패드 프로 3세대 12.9</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=004&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1wVFdveTE=">아이패드 프로 3세대 11</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 탭 S</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1GaXRYbFQ=">갤럭시탭 S8/S7</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=005&amp;gf_ref=Yz1hWEhhbU8=">갤럭시탭 S8+/S7+</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=006&amp;gf_ref=Yz1Kek1oa1I=">갤럭시탭 S8 울트라</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1WdjhRUXM=">갤럭시탭 S7 FE</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=002&amp;type=Y&amp;gf_ref=Yz15bVlMZDQ=">갤럭시탭 S6/S6 라이트</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=005&amp;scode=003&amp;type=Y&amp;gf_ref=Yz0zdDFGSlI=">갤럭시탭 S5/S5e</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시 탭 A</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=006&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1HZHRJRlQ=">갤럭시탭 A8</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=053&amp;mcode=006&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1tOWlsRU4=">갤럭시탭 A7/A7 라이트</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="hbg_submenu1" style=""><a href="#" style="">MagSafe</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopbrand.html?search&amp;prize1=울트라하이브리드 맥">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_03.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2"><a href="#">케이스</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3"><a href="#">아이폰 14 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=008&amp;type=Y&amp;gf_ref=Yz1oNlhTU1M=">아이폰14</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=009&amp;type=Y&amp;gf_ref=Yz13OUVLSkc=">아이폰14플러스</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=010&amp;type=Y&amp;gf_ref=Yz1Kakt0N1o=">아이폰14프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=011&amp;type=Y&amp;gf_ref=Yz1qTHlvMmo=">아이폰14프로맥스</a></li>
                                </ul>
                            </li>
                            <li class="hbg_submenu3"><a href="#">아이폰 13 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=001&amp;type=Y&amp;gf_ref=Yz04WDFobHY=">아이폰13미니</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=002&amp;type=Y&amp;gf_ref=Yz13SkY2QXI=">아이폰13</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=003&amp;type=Y&amp;gf_ref=Yz11ZkRCbTQ=">아이폰13프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1qeDg2QW8=">아이폰13프로맥스</a></li>
                                </ul>
                            </li>

                            <li class="hbg_submenu3"><a href="#">아이폰 12 시리즈</a>
                                <ul class="hbg_menu4" style="z-index: 999; display: none;">
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=005&amp;type=Y&amp;gf_ref=Yz1FMjF6dTU=">아이폰12미니</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=006&amp;type=Y&amp;gf_ref=Yz00aXd1bEc=">아이폰12/12프로</a></li>
                                    <li class="hbg_submenu4">
                                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=001&amp;scode=007&amp;type=Y&amp;gf_ref=Yz15NDZJSzI=">아이폰12프로맥스</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=002&amp;type=Y&amp;gf_ref=Yz1lWUpReXU=">카드지갑</a></li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=054&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz1LcW9sOTk=">거치대</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">웨어러블</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopdetail.html?branduid=1999858">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_05.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" id="cbc6" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2"><a href="#">에어팟</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=001&amp;scode=004&amp;type=Y&amp;gf_ref=Yz01R0VnU0I=">에어팟 프로2</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=001&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1ORkE0bFI=">에어팟3</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=001&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1Qa09paVM=">에어팟 프로</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=001&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1uMjBxMG0=">에어팟2/1</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=046&amp;mcode=007&amp;type=Y&amp;gf_ref=Yz1nTElTQ1k=">에어태그</a></li>

                    <li class="hbg_submenu2"><a href="#">애플워치</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=002&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1uNExaQ3Y=">애플워치 시리즈 8/7/6/SE/5/4</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=002&amp;scode=002&amp;type=Y&amp;gf_ref=Yz15M1RFVDA=">애플워치 시리즈 3/2/1</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=002&amp;scode=003&amp;type=Y&amp;gf_ref=Yz10S2tqUk4=">애플워치 스트랩</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=002&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1NVk4zOVk=">애플워치 거치대</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=046&amp;mcode=006&amp;type=Y&amp;gf_ref=Yz1Od2gxWE0=">에어팟 맥스</a></li>

                    <li class="hbg_submenu2"><a href="#">갤럭시버즈</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=005&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1sdUFiR2U=">갤럭시 버즈2 프로/버즈2/라이브</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=005&amp;scode=001&amp;type=Y&amp;gf_ref=Yz12QWxock4=">갤럭시 버즈/버즈 플러스</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2"><a href="#">갤럭시워치</a>
                        <ul class="hbg_menu3" id="cbc5" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=008&amp;type=Y">갤럭시 워치5 프로</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=007&amp;type=Y">갤럭시 워치5</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=006&amp;type=Y&amp;gf_ref=Yz0yRElnalM=">갤럭시 워치4/4 클래식</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=005&amp;type=Y&amp;gf_ref=Yz1WWlMwZWk=">갤럭시 워치3</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1jMlkybHQ=">갤럭시 워치 액티브</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=002&amp;type=Y&amp;gf_ref=Yz00c1JGUUk=">갤럭시 워치</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=046&amp;mcode=003&amp;scode=004&amp;type=Y&amp;gf_ref=Yz1md0FmVnE=">갤럭시 워치 스트랩</a></li>
                        </ul>
                    </li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=046&amp;mcode=008&amp;type=Y&amp;gf_ref=Yz0wN0VVcWg=">갤럭시 스마트태그</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=046&amp;mcode=004&amp;type=Y&amp;gf_ref=Yz05NWxpUmY=">기타 웨어러블</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">충전용품</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopdetail.html?branduid=2000247">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_06.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=097&amp;mcode=002&amp;type=Y&amp;gf_ref=Yz1NTkpsZHo=">무선충전기</a></li>

                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=097&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz10U05HTHc=">충전기</a></li>

                    <li class="hbg_submenu2"><a href="#">케이블</a>
                        <ul class="hbg_menu3" style="z-index: 999; display: none;">
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=097&amp;mcode=004&amp;scode=003&amp;type=Y&amp;gf_ref=Yz1OU0VqS00=">오디오/비디오 케이블</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=097&amp;mcode=004&amp;scode=002&amp;type=Y&amp;gf_ref=Yz1KVXA1eDg=">USB C 케이블</a></li>
                            <li class="hbg_submenu3">
                                <a href="/shop/shopbrand.html?xcode=097&amp;mcode=004&amp;scode=001&amp;type=Y&amp;gf_ref=Yz1zbHRYcEE=">라이트닝 케이블</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">차량용품</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopdetail.html?branduid=1999931">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_07.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=001&amp;type=Y&amp;gf_ref=Yz1KZml0VnU=">차량용거치대</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=002&amp;type=Y&amp;gf_ref=Yz1WYWJpQzk=">차량용충전기</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz0yeWJUOHM=">테슬라 액세서리</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=004&amp;type=Y&amp;gf_ref=Yz1vMzRiYkk=">벤츠 액세서리</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=005&amp;type=Y&amp;gf_ref=Yz1uV0lTd3c=">볼보 액세서리</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=048&amp;mcode=006&amp;type=Y&amp;gf_ref=Yz05UVZMSmY=">폴스타 액세서리</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">여행용품</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopdetail.html?branduid=1998527">
                        <img  src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_08.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" style="margin-top: -70px; z-index: 999; display: none;">
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=098&amp;mcode=001&amp;type=Y&amp;gf_ref=Yz1mQ3FSalg=">셀카봉</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=098&amp;mcode=004&amp;type=Y&amp;gf_ref=Yz1EQTdNOFg=">여행용 저울</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=098&amp;mcode=005&amp;type=Y&amp;gf_ref=Yz14NUxSQmc=">트래블 파우치</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=098&amp;mcode=002&amp;type=Y&amp;gf_ref=Yz1lMmxtNzY=">스포츠/레저</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=098&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz1hUjVqRFE=">포켓토크</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">생활용품</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopdetail.html?branduid=1999970">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_10.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" id="cbc2" style="margin-top: -90px; z-index: 999; display: none;">
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=004&amp;type=Y&amp;gf_ref=Yz1UU0JmUmg=">선풍기</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=001&amp;type=Y&amp;gf_ref=Yz1hNHJuQTc=">랜턴</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=002&amp;type=Y&amp;gf_ref=Yz1DOG1rNnY=">우산</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz10QllQWDI=">모바일거치대/스트랩</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=005&amp;type=Y&amp;gf_ref=Yz1jVUlJQkU=">카드지갑</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=050&amp;mcode=006&amp;type=Y&amp;gf_ref=Yz1XdXdydmM=">다용도 파우치</a></li>
                </ul>
            </li>

            <li class="hbg_submenu1"><a href="#">콜라보레이션</a>
                <!-- <div class="hbg_img" style="display: none;">
                    <a href="/shop/shopbrand.html?xcode=100&amp;mcode=004&amp;type=Y">
                        <img src="//file.spigen.co.kr/_data/old_attach/store/banner/navi/2022/0126_update/navi_banner_11.jpg" alt="navi_banner">
                    </a>
                </div> -->

                <ul class="hbg_menu2" id="cbc4" style="z-index: 999; display: none;">
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=100&amp;mcode=004&amp;type=Y&amp;gf_ref=Yz1SM3RYMEs=">캘러웨이</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=100&amp;mcode=001&amp;type=Y&amp;gf_ref=Yz1KREFtS3o=">진로</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/shopbrand.html?xcode=100&amp;mcode=003&amp;type=Y&amp;gf_ref=Yz1udjBNWHY=">홀맨</a></li>
                    <li class="hbg_submenu2">
                        <a href="/shop/page.html?id=73&amp;gf_ref=Yz05QXpJZ1E=">모나미</a></li>
                </ul>
            </li>
        </ul>
        
    </div>
    <script src="/resources/js/dg/category.js"></script>
</body>

</html>