<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.dgItem.DgItemDAO">
	
	<!-- 통합 검색-->
	<select id="getSearch"  parameterType="String" resultMap="DgItemDTOResult">
		SELECT 
			I.ITEM_NUM, I.CATE_NUM, USER_ID, ITEM_NAME, ITEM_CONTENTS, ITEM_PRICE, ITEM_DATE, ITEM_HIT, ITEM_STOCK, ITEM_YN, F.FILENUM, F.ITEM_NUM, F.FILENAME, F.ORINAME
			FROM 
			ITEM I
			LEFT JOIN
			ITEMFILE F
			ON I.ITEM_NUM = F.ITEM_NUM
				WHERE ITEM_NAME LIKE '%'||#{search}||'%'
					ORDER BY ITEM_NAME ASC
	</select>
	
	<!-- 최근 본 상품 -->
	<select id="getProduct" parameterType="DgItemFileDTO" resultType="DgItemFileDTO">
		SELECT ITEM_NUM, FILENAME 
			FROM ITEMFILE
				WHERE ITEM_NUM = #{item_num}
					ORDER BY ITEM_NUM DESC
	</select>

	<!-- 후기 가져오기 -->
	<select id="getReply" resultType="DgItemReviewDTO">
		SELECT *
    		FROM REVIEW
		        WHERE ITEM_NUM = #{item_num}
		        	ORDER BY RV_NUM DESC
	</select>

	<!-- 후기 작성 -->
	<insert id="setAddReply" parameterType="DgItemReviewDTO">
		INSERT INTO REVIEW (RV_NUM, ITEM_NUM, USER_ID, RV_TITLE, RV_CONTENTS, RV_DATE, RV_FILE, CODE)
			VALUES (REVIEW_SEQ.NEXTVAL, #{item_num}, #{user_id}, #{rv_title}, #{rv_contents}, sysdate, #{rv_file}, 2)
	</insert>

	<!-- 상품 이미지 -->
	<insert id="setAddFile" parameterType="DgItemFileDTO">
		INSERT INTO ITEMFILE (FILENUM, ITEM_NUM, FILENAME, ORINAME)
    		VALUES(FILENUM_SEQ.NEXTVAL, #{item_num}, #{fileName}, #{oriName})
	</insert>
	
	<!-- 상품수정 -->
	<update id="setUpdateItem" parameterType="DgItemDTO">
		UPDATE ITEM
			SET
				ITEM_NAME = #{item_name},
				ITEM_PRICE = #{item_price},
				ITEM_STOCK = #{item_stock},
				ITEM_CONTENTS = #{item_contents}
		
		WHERE ITEM_NUM = #{item_num}
	</update>

	<!-- 상품조회 + 카테고리 조인 -->
<!-- 	<select id="getDetailItem" parameterType="DgItemDetailDTO" resultType="DgItemDetailDTO">
		SELECT
			I.ITEM_NUM, I.ITEM_NAME, I.CATE_NUM, C.CATE_REF, C.CATE_NAME, ITEM_PRICE, ITEM_STOCK, ITEM_CONTENTS, ITEM_DATE
				FROM ITEM I
					INNER JOIN CATEGORY C
						ON I.CATE_NUM = C.CATE_NUM
			WHERE I.ITEM_NUM = #{item_num}
	</select> -->
	
	<!-- 상품조회 + 카테고리 조인 + 이미지 조인 -->
	<select id="getDetailItem" parameterType="DgItemDetailDTO" resultMap="getDetailItemResult">
		SELECT
    		I.ITEM_NUM, I.ITEM_NAME, I.CATE_NUM, C.CATE_REF, C.CATE_NAME, ITEM_PRICE, ITEM_STOCK, ITEM_CONTENTS, ITEM_DATE, IF.ITEM_NUM, IF.FILENAME, IF.ORINAME
    			FROM ITEM I
            		INNER JOIN CATEGORY C 
                		ON I.CATE_NUM = C.CATE_NUM
            
            		LEFT JOIN ITEMFILE IF
                		ON I.ITEM_NUM = IF.ITEM_NUM
                
        		WHERE I.ITEM_NUM = #{item_num}
        </select>
        
 
        <resultMap type="DgItemDetailDTO" id="getDetailItemResult">
			<id column="ITEM_NUM" property="item_num" />
			<result column="ITEM_NAME" property="item_name"/>
			<result column="CATE_NUM" property="cate_num"/>
			<result column="ITEM_PRICE" property="item_price"/>
			<result column="ITEM_STOCK" property="item_stock"/>
			<result column="ITEM_CONTENTS" property="item_contents"/>
			<result column="ITEM_DATE" property="item_date"/>

 			<association property="category" javaType="Category">
				<id column="CATE_REF" property="cate_ref" />
				<result column="CATE_NAME" property="cate_name"/>
			</association>

			<collection property="dgItemFileDTOs" javaType="List" ofType="DgItemFileDTO">
				<id column="FILENUM" property="fileNum"/>
      			<result column="FILENAME" property="fileName"/>
      			<result column="ORINAME" property="oriName"/>
			</collection>
	</resultMap>

	<!-- 상품조회 -->
	<!-- <select id="getDetailItem" parameterType="DgItemDTO" resultType="DgItemDTO"> 
		SELECT * FROM ITEM WHERE ITEM_NUM = #{item_num} </select> -->
		
	<!-- 상품삭제 -->
	<delete id="deleteItem">
		DELETE
			ITEM
		WHERE ITEM_NUM = #{item_num}
	</delete>

	<!-- 상품 갯수 -->
<!-- 	<select id="getCount" parameterType="Category" resultType="Category">
		SELECT COUNT(*) as cnt FROM ITEM
    		WHERE cate_num = #{cate_num}
	</select> -->
	
	<!-- 상품목록 -->
	<select id="getListItem" parameterType="DgItemDTO" resultMap="DgItemDTOResult">
		SELECT 
			I.ITEM_NUM, I.CATE_NUM, USER_ID, ITEM_NAME, ITEM_CONTENTS, ITEM_PRICE, ITEM_DATE, ITEM_HIT, ITEM_STOCK, ITEM_YN, C.CATE_NUM, C.CATE_NAME, F.FILENUM, F.ITEM_NUM, F.FILENAME, F.ORINAME
			FROM 
			ITEM I
				LEFT JOIN
			ITEMFILE F
			ON I.ITEM_NUM = F.ITEM_NUM
				JOIN
			CATEGORY C
			ON I.CATE_NUM = C.CATE_NUM
			<if test="cate_num !=  null">
				WHERE I.CATE_NUM  =  #{cate_num}
			</if>
			
			ORDER BY I.ITEM_NUM DESC
	</select>
	
	<resultMap type="DgItemDTO" id="DgItemDTOResult">
		<id column="ITEM_NUM" property="item_num" />
		<result column="CATE_NUM" property="cate_num"/>
		<result column="USER_ID" property="user_id"/>
		<result column="ITEM_NAME" property="item_name"/>
		<result column="ITEM_CONTENTS" property="item_contents"/>
		<result column="ITEM_PRICE" property="item_price"/>
		<result column="ITEM_DATE" property="item_date"/>
		<result column="ITEM_HIT" property="item_hit"/>
		<result column="ITEM_STOCK" property="item_stock"/>
		<result column="ITEM_YN" property="item_yn"/>
		
		<association property="category" javaType="Category">
			<id column="CATE_NUM" property="cate_num"/>
			<result column="CATE_NAME" property="cate_name"/>
		</association>
		
		<collection property="dgItemFileDTOs" javaType="List" ofType="DgItemFileDTO" >
			<id column="FILENUM" property="fileNum"/>
			<result column="ITEM_NUM" property="item_num"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>

	<!-- 상품등록 -->
	<insert id="setAddItem" parameterType="DgItemDTO">
		<selectKey order="BEFORE" keyProperty="item_num" resultType="Long">
			SELECT ITEM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ITEM(ITEM_NUM, CATE_NUM, USER_ID, ITEM_NAME, ITEM_CONTENTS, ITEM_PRICE, ITEM_DATE, ITEM_HIT, ITEM_STOCK, ITEM_YN, CODE)
		VALUES(#{item_num}, #{cate_num}, 'admin', #{item_name}, #{item_contents}, #{item_price}, sysdate, 0, #{item_stock}, 'Y', 2)
	</insert>

	<!-- 카테고리 불러오기 -->
	<select id="getCategory" resultType="Category">
		SELECT *
			FROM CATEGORY
				ORDER  BY CATE_NUM ASC
	</select>

</mapper>