<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.faq.FaqDAO">

<select id="getAllList" parameterType="Pager" resultType="FaqDTO">
SELECT * FROM
		(SELECT ROWNUM R, F.* 
		FROM (SELECT * FROM FAQ 
			ORDER BY FAQ_NUM DESC) F)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<select id="getAllListCount" resultType="Long">
	SELECT COUNT(FAQ_NUM) FROM FAQ
</select>

<select id="getCateList" parameterType="Map" resultType="FaqDTO">
SELECT * FROM
		(SELECT ROWNUM R, F.* 
		FROM (SELECT * FROM FAQ 
			WHERE FAQ_CATE = #{faq_cate}
			ORDER BY FAQ_NUM DESC) F)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<select id="getCount" parameterType="FaqDTO" resultType="Long">
	SELECT COUNT(FAQ_NUM) FROM FAQ WHERE FAQ_CATE = #{faq_cate}
</select>



</mapper>