<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.member.MemberDAO">
<!-- 아이디 중복검사 -->
<select id="getDuplicationID" parameterType="MemberDTO" resultType="Long">
SELECT COUNT(USER_ID)
FROM MEMBER
WHERE USER_ID=#{user_id}
</select>

<!-- EMAIL 중복검사 -->
<select id="getDuplicationEmail" parameterType="MemberDTO" resultType="Long">
SELECT COUNT(USER_EMAIL)
FROM MEMBER
WHERE USER_EMAIL = #{user_email}
</select>

<!-- 회원가입 -->
<insert id="setJoin" parameterType="MemberDTO">
INSERT INTO MEMBER
VALUES(
	#{user_id},
	#{user_pw},
	#{user_name},
	#{user_email},
	#{user_phone},
	#{user_post},
	#{user_addr},
	#{user_addr2},
	1,
	'정상'
)
</insert>

<insert id="setKakaoJoin" parameterType="MemberDTO">
INSERT INTO MEMBER(USER_ID,USER_NAME,USER_EMAIL)
VALUES(
	#{user_id},
	#{user_name},
	#{user_email}
)
</insert>

<insert id="setAddMemberFile" parameterType="MemberFileDTO">
INSERT INTO MEMBERFILE
VALUES(
	MEMBERFILE_SEQ.NEXTVAL,
	#{user_id},
	#{fileName},
	#{oriName}
	
)
</insert>
<!-- 로그인 -->
<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
SELECT *
FROM MEMBER
WHERE USER_ID=#{user_id} 
	  AND 
	  USER_PW=#{user_pw}
	  AND
	  USER_YN='정상'
</select>
<!-- 아이디 찾기 -->
<select id="getFindID" parameterType="MemberDTO" resultType="String">
SELECT USER_ID
FROM MEMBER
WHERE USER_NAME=#{user_name} 
	  AND 
	  USER_PHONE = #{user_phone}
</select>
<!-- 비밀번호 찾기/ 정보로 모든정보 일단 끌어옴 -->
<select id = "getFindPWCheck" parameterType="MemberDTO" resultType="MemberDTO">
SELECT *
FROM MEMBER
WHERE USER_ID=#{user_id} 
	  AND 
	  USER_EMAIL=#{user_email}
</select>
<!-- 비밀번호 찾기 / 임시비밀번호를 위해 비밀번호 수정해서 담아줌 --> 
<update id="setUpdatePW" parameterType="MemberDTO">
UPDATE MEMBER
SET USER_PW =#{user_pw}
WHERE USER_ID=#{user_id} 
</update>


<!-- 회원 조회! 기본 order by 안걸어놓음-->
<select id="getMemberList" parameterType="Pager" resultType="MemberDTO">
SELECT * FROM
(SELECT ROWNUM R, M.* 
FROM(
SELECT * FROM MEMBER
WHERE
	<choose>
		<when test="kind == 'user_id'">USER_ID</when>
		<when test="kind == 'user_name'">USER_NAME</when>
		<otherwise>USER_YN</otherwise>
	</choose>
	LIKE '%'||#{search}||'%') M)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<!-- 회원조회 카운트 -->
<select id="getMemberListCount" parameterType="Pager" resultType="Long">
SELECT COUNT(USER_ID) FROM MEMBER
WHERE
	<choose>
		<when test="kind == 'user_id'">USER_ID</when>
		<when test="kind == 'user_name'">USER_NAME</when>
		<otherwise>USER_YN</otherwise>
	</choose>
	LIKE '%'||#{search}||'%'
</select>

<!-- 회원 상태변경 -->
<update id="updateYN" parameterType="MemberDTO">
UPDATE MEMBER SET USER_YN=#{user_yn} WHERE USER_ID = #{user_id}
</update>

</mapper>