<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.mypage.MypageDAO">

<!-- 마이페이지 메인 프로필 사진 출력 -->
<!-- <select id="getMyFile" parameterType="MemberDTO" resultMap="getMyFileResult">
SELECT *
FROM MEMBER M
	LEFT JOIN
	MEMBERFILE MF
	ON M.USER_ID = MF.USER_ID
WHERE M.USER_ID =#{user_id}	
</select>
<resultMap type="MemberDTO" id="getMyFileResult">
	<id column="USER_ID" property="user_id"/>
</resultMap>
 -->
 
 
<!-- 내 좋아요 목록 -->
<select id="getMyLike" parameterType="MypagePager" resultMap="getMyLikeResult">
SELECT * 
FROM
	(SELECT ROWNUM RN,A.*
	FROM
	    (SELECT IK.*,ITEM_NAME, ITEM_PRICE, F.FILENAME
	    FROM ITEMLIKE IK
	         JOIN
	         ITEM I
	         ON IK.ITEM_NUM = I.ITEM_NUM
	         LEFT JOIN
	         ITEMFILE F
	         ON I.ITEM_NUM = F.ITEM_NUM
	    WHERE IK.USER_ID = #{user_id}
	    ORDER BY IK.LIKE_NUM DESC) A)
WHERE RN BETWEEN #{startRow} AND #{lastRow}
</select>
<resultMap type="GnItemLikeDTO" id="getMyLikeResult">
	<id column="LIKE_NUM" property="like_num"/>
	<result column="ITEM_NUM" property="item_num"/>
	<result column="USER_ID" property="user_id"/>
	<association property="gnItemDTO" javaType="GnItemDTO">
		<id column="ITEM_NUM" property="item_num"/>
		<result column="ITEM_NAME" property="item_name"/>
		<result column="ITEM_PRICE" property="item_price"/>
	</association>
	<collection property="gnItemFileDTOs" javaType="List" ofType="GnItemFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="ITEM_NUM" property="item_num"/>
		<result column="FILENAME" property="fileName"/>
	</collection>
</resultMap>

<!-- 내 좋아요 글 갯수 -->
<select id="getMyLikeCount" parameterType="MypagePager" resultType="Long">
SELECT COUNT(LIKE_NUM)
FROM ITEMLIKE
WHERE USER_ID = #{user_id}
</select>
 
<!-- 내 주문내역 -->
<select id="getMyOrder" parameterType="MypagePager" resultType="OrderDTO">
SELECT * 
FROM
    (SELECT ROWNUM RN, A.*
    FROM
        (SELECT *
        FROM ORDERS
        WHERE USER_ID = #{user_id}
        ORDER BY MERCHANT_UID DESC) A)
WHERE RN BETWEEN #{startRow} AND #{lastRow}
</select>

<!-- 내 주문내역 글 갯수 -->
<select id="getMyOrderCount" parameterType="MypagePager" resultType="Long">
SELECT COUNT(MERCHANT_UID)
FROM ORDERS
WHERE USER_ID = #{user_id}
</select>

<!-- 내 판매 내역 -->
<select id="getMySale" parameterType="GnItemDTO" resultMap="getMySaleResult">
SELECT I.*,F.FILENAME, C.CATE_NAME
FROM ITEM I
     JOIN
    ITEMFILE F
    ON I.ITEM_NUM = F.ITEM_NUM
    LEFT JOIN
    CATEGORY C
    ON I.CATE_NUM = C.CATE_NUM
WHERE USER_ID= #{user_id}
ORDER BY I.ITEM_NUM DESC
</select>
<resultMap type="GnItemDTO" id="getMySaleResult">
	<id column="ITEM_NUM" property="item_num"/>
	<result column="CATE_NUM" property="cate_num"/>
	<result column="USER_ID" property="user_id"/>
	<result column="ITEM_NAME" property="item_name"/>
	<result column="ITEM_CONTENTS" property="item_contents"/>
	<result column="ITEM_PRICE" property="item_price"/>
	<result column="ITEM_DATE" property="item_date"/>
	<result column="ITEM_HIT" property="item_hit"/>
	<result column="ITEM_STOCK" property="item_stock"/>
	<result column="ITEM_DEAL" property="item_deal"/>
	<result column="ITEM_CONDITION" property="item_condition"/>
	<result column="ITEM_YN" property="item_yn"/>
		<association property="category" javaType="Category">
			<id column="CATE_NUM" property="cate_num"/>
			<result column="CATE_NAME" property="cate_name"/>
		</association>
		<collection property="gnItemFileDTOs" javaType="List" ofType="GnItemFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="ITEM_NUM" property="item_num"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
</resultMap>

<!-- 내 문의내역 -->
<select id="getMyQna" parameterType="MypagePager" resultMap="getMyQnaResult">
SELECT *
FROM
    (SELECT ROWNUM RN, A.*
    FROM
        (SELECT Q.*,QF.FILENAME 
        FROM QNA Q
            LEFT JOIN
            QNAFILE QF
            ON Q.QNA_NUM = QF.QNA_NUM
        WHERE USER_ID = #{user_id}
        ORDER BY Q.QNA_NUM DESC) A)
WHERE RN BETWEEN #{startRow} AND #{lastRow}
</select>

<resultMap type="QnaDTO" id="getMyQnaResult">
<id column="QNA_NUM" property="qna_num"/>
<result column="USER_ID" property="user_id"/>
<result column="QNA_CATE" property="qna_cate"/>
<result column="QNA_TITLE" property="qna_title"/>
<result column="QNA_CONTENTS" property="qna_contents"/>
<result column="QNA_DATE" property="qna_date"/>
<result column="QNA_STATUS" property="qna_status"/>
<result column="QNA_COMMIT" property="qna_commit"/>
<result column="QNA_COMMENT" property="qna_comment"/>
<result column="CODE" property="code"/>
	<collection property="qnaFileDTOs" javaType="List" ofType="QnaFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="QNA_NUM" property="qna_num"/>
		<result column="FILENAME" property="fileName"/>
	</collection>
</resultMap>

<!-- 내 문의 글 갯수 -->
<select id="getMyQnaCount" parameterType="MypagePager" resultType="Long">
SELECT COUNT(QNA_NUM)
FROM QNA
WHERE USER_ID = #{user_id}
</select>



<!-- 주문 상세페이지 -->
<select id="getMyOrderDetail" parameterType="OrderDTO" resultMap="getMyOrderDetailResult">
SELECT * 
FROM ORDERS O
    JOIN 
    GOODSORDER GO
    ON O.MERCHANT_UID= GO.MERCHANT_UID
    JOIN 
    PAY P
    ON GO.MERCHANT_UID = P.MERCHANT_UID
    JOIN
    ITEM I
    ON GO.ITEM_NUM = I.ITEM_NUM
    LEFT JOIN
    ITEMFILE F
    ON I.ITEM_NUM = F.ITEM_NUM
WHERE O.MERCHANT_UID= #{merchant_uid} AND O.USER_ID = #{user_id}
</select>
<resultMap type="OrdersDTO" id="getMyOrderDetailResult">
	<id column="MERCHANT_UID" property="merchant_uid"/>
	<result column="USER_ID" property="user_id" />
	<result column="ORD_NAME" property="ord_name"/>
	<result column="ORD_POST" property="ord_post"/>
	<result column="ORD_PHONE" property="ord_phone"/>
	<result column="ORD_ADDR" property="ord_addr"/>
	<result column="ORD_ADDR2" property="ord_addr2"/>
	<result column="ORD_TOTAL1" property="ord_total1"/>
	<result column="ORD_TOTAL2" property="ord_total2"/>
	<result column="ORD_PAYMENT" property="ord_payment"/>
	<result column="ORD_DATE" property="ord_date"/>
	<result column="ORD_STATUS" property="ord_status"/>
	<result column="ORD_MEMO" property="ord_memo"/>
		<association property="payDTO" javaType="PayDTO">
			<id column="IMP_UID" property="imp_uid"/>
			<result column="PAY_DATE" property="pay_date"/>
		</association>
		<collection property="goodsOrdersDTOs" javaType="List" ofType="GoodsOrdersDTO">
			<id column="GO_NUM" property="go_num"/>
			<result column="ITEM_NUM" property="item_num"/>
			<result column="MERCHANT_UID" property="merchant_uid"/>
			<result column="GO_AMOUNT" property="go_amount"/> <!-- 주문 수량 -->
		</collection>
		<collection property="gnItemDTOs" javaType="List" ofType="GnItemDTO">
			<id column="ITEM_NUM" property="item_num"/>
			<result column="ITEM_NAME" property="item_name"/>
			<result column="ITEM_PRICE" property="item_price"/>
		</collection>
		<collection property="gnItemFileDTOs" javaType="List" ofType="GnItemFileDTO"> 
			<id column="FILENUM" property="fileNum"/>
			<result column="ITEM_NUM" property="item_num"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
</resultMap>

 
<!-- 내 후기내역 -->
<select id="getMyReview" parameterType="MypagePager" resultMap="getMyReviewResult">
SELECT * 
FROM
    (SELECT ROWNUM RN, A.*
    FROM 
        (SELECT R.*,I.ITEM_NAME 
        FROM REVIEW R
             JOIN
             ITEM I
             ON R.ITEM_NUM = I.ITEM_NUM
        WHERE R.USER_ID = #{user_id}
        ORDER BY RV_NUM DESC) A )
WHERE RN BETWEEN #{startRow} AND #{lastRow}
</select>
<resultMap type="DgItemReviewDTO" id="getMyReviewResult">
	<id column="RV_NUM" property="rv_num"/>
	<result column="ITEM_NUM" property="item_num"/>
	<result column="USER_ID" property="user_id"/>
	<result column="RV_TITLE" property="rv_title"/>
	<result column="RV_CONTENTS" property="rv_contents"/>
	<result column="RV_DATE" property="rv_date"/>
	<result column="RV_FILE" property="rv_file"/>
	
	<association property="dgItemDTO" javaType="DgItemDTO">
		<id column="ITEM_NUM" property="item_num"/>
		<result column="ITEM_NAME" property="item_name"/>
	</association>
</resultMap>

<!-- 내 후기 총 글 갯수 -->
<select id="getMyReviewCount" parameterType="MypagePager" resultType="Long">
SELECT COUNT(RV_NUM)
FROM REVIEW
WHERE USER_ID= #{user_id}
</select>


<!-- 회원정보 수정 -->
<update id="setMyUpdate" parameterType="MemberDTO">
UPDATE MEMBER
SET
USER_PW =#{user_pw},
USER_NAME =#{user_name},
USER_EMAIL =#{user_email},
USER_PHONE = #{user_phone},
USER_POST = #{user_post},
USER_ADDR = #{user_addr},
USER_ADDR2 = #{user_addr2} 
WHERE USER_ID = #{user_id}
</update>
<!-- 회원 프로필 사진 수정 -->
<update id="setMyFileUpdate" parameterType="MemberFileDTO">
UPDATE MEMBERFILE
SET 
FILENAME =#{fileName},
ORINAME= #{oriName}
WHERE USER_ID =#{user_id}
</update>

<!-- 로그인 회원정보 -->
<select id="getMyInfo" parameterType="MemberDTO" resultType="MemberDTO"> 
SELECT * 
FROM MEMBER
WHERE USER_ID = #{user_id}
</select>
<!-- 로그인 회원 프로필정보 -->
<select id="getMyInfoFile" parameterType="MemberFileDTO" resultType="MemberFileDTO">
SELECT FILENAME
FROM MEMBERFILE
WHERE USER_ID =#{user_id}
</select>

<!-- 회원탈퇴 -->
<update id="setMyDelete" parameterType="MemberDTO">
UPDATE MEMBER
SET USER_YN ='탈퇴'
WHERE USER_ID =#{user_id}
</update>


</mapper>