<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.orders.OrdersDAO">

<insert id="addOrders" parameterType="OrdersDTO">
INSERT INTO ORDERS VALUES 
(#{merchant_uid}, #{user_id}, #{ord_payment}, #{ord_status}, 
SYSDATE, #{ord_total1}, #{ord_delfree}, #{ord_total2}, 
#{ord_name}, #{ord_post}, #{ord_addr}, #{ord_addr2}, 
#{ord_phone}, #{ord_memo}, #{code})
</insert>

<select id="getList" resultType="OrdersDTO">
SELECT * FROM ORDERS ORDER BY ORD_DATE
</select>
















</mapper>