<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.qna.QnaDAO">

<select id="getOrders" parameterType="MemberDTO" resultType="OrdersDTO">
SELECT * FROM ORDERS WHERE user_id = #{user_id}
</select>

<insert id="addQnaFile" parameterType="QnaFileDTO">
INSERT INTO QNAFILE
VALUES(QNAFILE_SEQ.NEXTVAL, #{qna_num}, #{fileName}, #{oriName})
</insert>

<insert id="addQna" parameterType="QnaDTO">
<selectKey order="BEFORE" keyProperty="qna_num" resultType="Long"> 
SELECT QNA_SEQ.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO QNA VALUES(#{qna_num}, #{user_id}, #{qna_cate}, #{qna_title}, #{qna_contents},SYSDATE,'대기','',#{qna_uid,jdbcType=VARCHAR})
</insert>


<select id="getList" resultType="QnaDTO" parameterType="Map">
SELECT * FROM
		(SELECT ROWNUM R, N.* FROM
			(SELECT * FROM QNA 
			WHERE 
				<choose>
					<when test="kind == 'qna_title'">QNA_TITLE</when>
					<when test="kind == 'qna_contents'">QNA_CONTENTS</when>
					<otherwise>USER_ID</otherwise>
				</choose>
			LIKE '%'||#{search}||'%'
			ORDER BY QNA_NUM DESC)
		N)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<select id="getCount" parameterType="Map" resultType="Long">
	SELECT COUNT(QNA_NUM) FROM QNA 
	WHERE 
	<choose>
		<when test="kind == 'qna_title'">QNA_TITLE</when>
		<when test="kind == 'qna_contents'">QNA_CONTENTS</when>
		<otherwise>USER_ID</otherwise>
	</choose>
	LIKE '%'||#{search}||'%'
</select>
	
<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
SELECT * 
FROM QNA Q 
LEFT JOIN QNAFILE QF
ON Q.QNA_NUM=QF.QNA_NUM
WHERE Q.QNA_NUM = #{qna_num}
</select>

<resultMap type="QnaDTO" id="getDetailResult">
	<id column="QNA_NUM" property="qna_num"/>
	<result column="USER_ID" property="user_id"/>
	<result column="QNA_CATE" property="qna_cate"/>
	<result column="QNA_TITLE" property="qna_title"/>
	<result column="QNA_CONTENTS" property="qna_contents"/>
	<result column="QNA_DATE" property="qna_date"/>
	<result column="QNA_COMMENT" property="qna_comment"/>
	<result column="QNA_STATUS" property="qna_status"/>
	<result column="QNA_uid" property="qna_uid"/>
	
	
	<collection property="qnaFileDTOs" javaType="List" ofType="QnaFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
	</collection>
</resultMap>

<update id="updateQnaComment" parameterType="QnaDTO">
UPDATE QNA SET QNA_COMMENT = #{qna_comment} WHERE QNA_NUM = #{qna_num}
</update>

<select id="getComment" parameterType="QnaDTO" resultType="QnaDTO">
SELECT * FROM QNA WHERE QNA_NUM = #{qna_num}
</select>

<update id="statusChange" parameterType="QnaDTO">
UPDATE QNA SET QNA_STATUS = '완료' WHERE QNA_NUM = #{qna_num}
</update>

</mapper>
