<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndg.home.qna.QnaDAO">

<!-- 1대1 문의 수정- 개별파일삭제 -->
<delete id="deleteNoticeFile" parameterType="NoticeFileDTO">
DELETE FROM NOTICEFILE WHERE FILENUM = #{fileNum}
</delete>

<!-- 1대1 문의 수정- 글에 첨부되어있는 파일 정보 가져오기 -->
<select id="detailNoticeFile" parameterType="NoticeFileDTO" resultType="NoticeFileDTO">
SELECT * FROM NOTICEFILE WHERE FILENUM = #{fileNum}
</select>

<!-- 1대1 문의 작성시 파일추가 -->
<insert id="addQnaFile" parameterType="QnaFileDTO">
INSERT INTO QNAFILE
VALUES(QNAFILE_SEQ.NEXTVAL, #{qna_num}, #{fileName}, #{oriName})
</insert>

<!-- 마이페이지 - 내문의 수정 -->
<update id="updateQna" parameterType="QnaDTO">
UPDATE QNA SET QNA_CATE = #{qna_cate}, QNA_TITLE = #{qna_title}, QNA_CONTENTS = #{qna_contents} WHERE QNA_NUM = #{qna_num}
</update>



<!-- 고객이 1대1 문의를 작성할때 자신의 주문내역을 선택하기 위해 주문테이블에서 자신의 주문내역을 뽑아옴 -->
<select id="getOrders" parameterType="MemberDTO" resultType="OrdersDTO">
SELECT * FROM ORDERS WHERE user_id = #{user_id}
</select>



<!-- 고객이 1대1 문의를 작성함 -->
<insert id="addQna" parameterType="QnaDTO">
<selectKey order="BEFORE" keyProperty="qna_num" resultType="Long"> 
SELECT QNA_SEQ.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO QNA VALUES(#{qna_num}, #{user_id}, #{qna_cate}, #{qna_title}, #{qna_contents},SYSDATE,'대기','',#{qna_uid,jdbcType=VARCHAR})
</insert>



<!-- 관리자센터 - 문의 조회 -->
<select id="getList" resultType="QnaDTO" parameterType="Map">
SELECT * FROM
		(SELECT ROWNUM R, N.* FROM
			(SELECT * FROM QNA 
			WHERE 
				<choose>
					<when test="kind == 'qna_title'">QNA_TITLE</when>
					<when test="kind == 'qna_contents'">QNA_CONTENTS</when>
					<otherwise>USER_ID</otherwise>
				</choose>
			LIKE '%'||#{search}||'%'
			<if  test= "qna_status != null">
				AND QNA_STATUS = #{qna_status}
			</if>
			ORDER BY QNA_NUM DESC)
		N)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<!-- 페이징을 위한 카운트 -->
<select id="getCount" parameterType="Map" resultType="Long">
	SELECT COUNT(QNA_NUM) FROM QNA 
	WHERE 
	<choose>
		<when test="kind == 'qna_title'">QNA_TITLE</when>
		<when test="kind == 'qna_contents'">QNA_CONTENTS</when>
		<otherwise>USER_ID</otherwise>
	</choose>
	LIKE '%'||#{search}||'%'
	<if  test= "qna_status != null">
		AND QNA_STATUS = #{qna_status}
	</if>
</select>

<!-- 관리자페이지 - 문의 상세보기 -->
<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
SELECT * 
FROM QNA Q 
LEFT JOIN QNAFILE QF
ON Q.QNA_NUM=QF.QNA_NUM
WHERE Q.QNA_NUM = #{qna_num}
</select>

<resultMap type="QnaDTO" id="getDetailResult">
	<id column="QNA_NUM" property="qna_num"/>
	<result column="USER_ID" property="user_id"/>
	<result column="QNA_CATE" property="qna_cate"/>
	<result column="QNA_TITLE" property="qna_title"/>
	<result column="QNA_CONTENTS" property="qna_contents"/>
	<result column="QNA_DATE" property="qna_date"/>
	<result column="QNA_COMMENT" property="qna_comment"/>
	<result column="QNA_STATUS" property="qna_status"/>
	<result column="QNA_uid" property="qna_uid"/>
	
	
	<collection property="qnaFileDTOs" javaType="List" ofType="QnaFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
	</collection>
</resultMap>

<!-- 문의상세보기 - 답변등록 ajax -->
<update id="updateQnaComment" parameterType="QnaDTO">
UPDATE QNA SET QNA_COMMENT = #{qna_comment} WHERE QNA_NUM = #{qna_num}
</update>

<!-- 문의에 달린 답변 보기 ajax -->
<select id="getComment" parameterType="QnaDTO" resultType="QnaDTO">
SELECT * FROM QNA WHERE QNA_NUM = #{qna_num}
</select>

<!-- 문의의 처리상태를 변경 -->
<update id="statusChange" parameterType="QnaDTO">
UPDATE QNA SET QNA_STATUS = '완료' WHERE QNA_NUM = #{qna_num}
</update>

</mapper>
